################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Rep/v17
/.vs
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
/ConsoleApp1/.vs/ConsoleApp1/v17
/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/ConsoleApp1/obj
